// Configuração do MongoDB
import { connectDB } from './db/mongoose.js';

// Conectar ao MongoDB
connectDB()
  .then(() => console.log('MongoDB conectado com sucesso'))
  .catch(err => {
    console.error('Erro ao conectar ao MongoDB:', err);
    process.exit(1);
});